
*{
    margin: 0;
    padding: 0;
}

.page {
    background-color: black;
    color: lime;
    text-align: center;
    overflow: hidden;
}

.c {
    display: block;
    position: absolute;
    top: 0;
}


.chat-container {
    position: absolute;
    display: block;
    margin: auto;
    width: 30%;
    height: 70%;
    top: 15%;
    left: 35%;
    border-bottom-right-radius: 5%;
}

.chat-head {
    position: relative;
    width: 100%;
    height: 5%;
}
.chat-body {
    position: relative;
    width: 100%;
    height: 75%;
    background-color: black;
    opacity: 0.9;
    border: 1px solid lime;
    overflow: scroll;
}
.chat-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.chat-foot {
    position: relative;
    width: 100%;
    height: 15%;
}


.message {
    resize: none;
    outline: 0;
    border: 0;
    width: 100%;
    height: 50%;
}
.message::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.chat-btn {
    width: 50%;
    height: 50%;
    float: left;
    opacity: 0.6;
    background-color: lime;
    border: 0;
    outline: 0;
}
.chat-btn:hover {
    opacity: 0.8;
}

.chat-btn.top {
    height: 100%;
}



.msg {
    text-align: left;
    width: 50%;

}
.msg.me {
    padding-left: calc(50% - 5px);
}

.time{
    font-size: small;
    border-bottom: 1px solid lime;
}

.msg-text{
    position: relative;
    padding: 5px;
}
