
.page {
    background-color: black;
    color: lime;
    text-align: center;
    overflow: hidden;
}

.p1 {
    position: relative;
    margin-top: 10%;
    font-size: 600%;

}
.p2 {
    position: relative;
    font-size: 400%;
}

.input {
    opacity: 0;
    position: relative;
    background-color: transparent;
    color: lime;
    outline: none;
    border: 0;
    border-bottom: 1px dashed lime;
    text-align: center;
    width: 50%;
    margin: 5%;
    font-size: 200%;
    animation: fade-in forwards linear 3s;
    animation-delay: 3s;
}

.c {
    display: block;
    position: absolute;
    top: 0;
}

*{
    margin: 0;
    padding: 0;
}

.main {
    opacity: 0;
    animation: fade-in forwards linear 1s;
    animation-delay: 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button{
    width: 100px;
    height: 100px;
    background-color: lime;
    border: 0;
    opacity: 0.8;
    border-radius: 25px;
}
.button:hover {
    opacity: 1;
}