

.login-container {
    position: relative;
    height: 500px;
    aspect-ratio: 1/1;
    text-align: center;
    padding-top: 10px;
}


.background {
    background-color: limegreen;
    overflow: hidden;
}

.input-container {
    margin: auto;
    margin-top: 10px;
    border: 10px solid white;
    background-color: yellow;
    position: relative;
    display: block;
    color: black;
    width: 50%;
}


.head-label {
    margin: auto;
    font-size: 400%;
    color: white;
    width: 100%;
    border: 10px solid white;
    background-color: blue;
    text-align: center;
    position: relative;
}


.input-label {
    font-size: 200%;
    color: black;
    width: 100%;
    text-align: center;
}


.input {
    position: relative;
    background-color: white;
    color: black;
    outline: none;
    border: 0;
    text-align: center;
    width: 50%;
    height: 20%;
    margin: 5%;
}



.button {
    border: 20px solid red;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    color: var(--primary);
	background-color: white;
    position: relative;
}

.button:hover {
    background-color: red;
}


.pole {
    margin: auto;
    border: 2px solid black;
    background-color: gray;
    position: absolute;
    display: block;
    color: black;
    width: 10px;
    height: 150%;
    left: calc(50% - 5px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 0;
}

.sky {
    position: absolute;
    width: 100%;
    top: 0;
    height: 50%;
    left: 0;
}

.road {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 50%;
    left: 0;
}

.bull {
    position: absolute;
    height: 20%;
    left: 100%;    
    top: 20%;
    animation: bull-anim forwards linear infinite;
    animation-duration: 5s;
}

.bull.c {
    animation-delay: 1s;
}

@keyframes bull-anim {
    0% {
        left: 100%;    
        top: 20%;
      }
    10% {
        top: 40%;
    }

    20% {
        top: 20%;
    }
    30% {
        top: 40%;
    }
    40% {
        top: 20%;
    }
    50% {
        top: 40%;
    }
    60% {
        top: 20%;
    }
    70% {
        top: 40%;
    }
    80% {
        top: 20%;
    }
    90% {
        top: 40%;
    }
    100% {
        left: -100%;  
        top: 20%;  
    }
}