<!DOCTYPE html>
<html>

<head>
    <title>INF226</title>
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
</head>

<body onload="autoCheck('{{user}}','{{target}}')">
    <div id="page" class="page">
        <canvas id="c" class="c"></canvas>
        <div class="chat-container">
            <div class="chat-head">
   
                <a href="/index.html">
                    <button type="button" class="chat-btn top" id="returnBtn" href="/index.html" >RETURN</button>
                </a>
    
            </div>
            <div class="chat-body" id="chatBody">

            </div>
            <div class="chat-foot">
                <textarea id="message" class="message" placeholder="A message..."></textarea>
                <button type="button" class="chat-btn" id="sendBtn" onclick="send('{{user}}','{{target}}')">SEND</button>
                <button type="button" class="chat-btn" id="refreshBtn" onclick="search('{{user}}','{{target}}')">REFRESH</button>
            </div>
        </div>
    </div>
</body>
<script src="static/scripts/matrix.js"></script>
<script src="static/scripts/index.js"></script>

</html>