<!DOCTYPE html>
<html>

<head>
    <title>INF226</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />

</head>

<body class="page">
    <canvas id="c" class="c"></canvas>
    
    <div class="main">
        <div class="p1">Hello,</div>
        <div class="p2">with whom do you wish to speak?</div>

        <form class="form" action="" method=post>
      
            <dl>
                {{ form.csrf_token }}
      
              <div class="input-container">
                <div>{{ form.username(class="input") }}</div>
              </div>
            </dl>
            <p>
              <input class="button" type=submit value=SEARCH>
          </form>
    </div>


</body>
<script src="static/scripts/matrix.js">
</script>

</html>