<!DOCTYPE html>
<html>

<head>
    <title>INF226 Tiny Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	  <link rel="icon" href="{{ url_for('static', filename='/img/favicon.png') }}" type="image/png" />

</head>

<body class="background">
  <img class="sky" src="{{ url_for('static', filename='/img/sky.png') }}"></img>
  <img class="road" src="{{ url_for('static', filename='/img/road.png') }}"></img>
  <img class="bull" src="{{ url_for('static', filename='/img/team.png') }}"></img>
  <img class="bull c" src="{{ url_for('static', filename='/img/cop.png') }}"></img>
  <div id="page" class="login-container">
    <div class="pole"></div>
    <form class="form" action="" method=post>
      
      <dl>
          {{ form.csrf_token }}   

        <div class="head-label">LOG IN</div>
        <div class="input-container">
          <div class="input-label">USERNAME</div>
          <div>{{ form.username(class="input") }}</div>
        </div>
        <div class="input-container">
          <div class="input-label">PASSWORD</div>
          <div>{{ form.password(class="input") }}</div>
        </div>
      </dl>
      <p>
        <input class="button" type=submit value=Login>
        <input type=hidden value="{{ next or '' }}" name=next>
    </form>

    <p><a href=registration><button class="button">Registration</button></a></p>

  </div>
</body>
